.button {
width: fit-content;
color: var(--white);
font-size: var(--fontSizeMedium);
font-weight: var(--fontWeightBold);
border-radius: 4px;
}

.button::after {
content: "";
display: block;
max-width: 100%;
height: 4px;
margin-top: 1px;
margin-bottom: -6px;
background-image: linear-gradient(-90deg, var(--orange) 0%, var(--pink) 50%, var(--blue) 100%);
opacity: 1;
}